<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="..\public\main.css">
    <title>Contact Us</title>

    <style>
        html,body{
            max-height: 100vh;
        }
    </style>
</head>
<body>
    
      <!-- ================= Contact Section ======================== -->

      <div class="contactSection">
        <h1 class="contactHeading" id="contactSection">Get In Touch</h1>
        <div class="formArea marginInSection1">
          <form action="" class="contactForm">
            <label for="name">Name</label>
            <input type="text" class="contactInput" />
            <label for="email">Email</label>
            <input type="text" class="contactInput" />
            <label for="subject">Subject</label>
            <input type="text" class="contactInput" />
            <label for="message">Message</label>
            <textarea class="contactInput" cols="30" rows="10"></textarea>
            <div class="contactCheckBox">
              <input type="checkbox" id="myCheckbox" name="myCheckbox" />
              <p>
                Please read the privacy policy and accept it before submitting
                the form
              </p>
            </div>
            <button class="contactBtn marginInSection1">Submit</button>
          </form>
        </div>
      </div>
</body>
</html>